.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app {
  height: 100vh;
  background: lightblue;
  text-align: center;
}

.nav {
  background-color: black;
  color: white;
  font-size: 200%;
  display: flex;
  justify-content: space-around;
  height: 9vh;
}