@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/*____START OF CSS FROM PROF JOGESH_________*/
.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #512DA8;
}   

/*___END OF CSS FROM PROF JOGESH__________*/
.nav-link {
    transition-duration: 1000ms;
    border-bottom: solid 1px #512DA8;
    border-top: solid 1px #512Da8;
}

.nav-link:hover {
    border-bottom: solid 1px rgba(253, 253, 253, 0.3);
    border-top: solid 1px rgba(252, 255, 255, 0.3);
    border-radius: 1vh;
}
.dish-title {
    text-align: center;
    background: rgba(133, 164, 223, 0.8);
    transition-duration: 150ms;
    border-radius: 5px;
    font-family: "Redressed";
    color: rgb(250, 252, 251);
    font-size: 4vh;
    cursor: pointer;
    width: 45%;
}

.dish-description {
    font-family: "Indie Flower", sans-serif;
    font-size: 3vh;
    background: rgba(231, 222, 222, 0.4);
    padding: 0;
    margin: 0;
}

.dish-title:hover {
    background: rgba(129, 8, 8, 0.4);
    border-radius: 10px;
    color: rgb(236, 225, 161);
    padding-bottom: 5px;
}

.nav-text {
    font-family: "Redressed";
    font-size: 5vh;
}

.cool-text {
    font-family: "Redressed";
}

.comments {
    font-family: "Indie Flower";
}

.comments-lists {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media(max-width: 765px){
    .dish-title {
        background: rgba(129, 8, 8, 0.4);
        border-radius: 10px;
        color: rgb(236, 225, 161);
        padding-bottom: 5px;
    }

    .dish-title:hover {
        background: rgba(64, 136, 231, 0.3);
        border-radius: 10px;
        color: rgb(56, 59, 33);
        padding-bottom: 5px;
    }
}

/*REACT ANIMATIONS (react-transition-group classes): DAY 65*/
.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 500ms ease-in;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: al 500ms ease-out;
}